<h1>Cleaners Management</h1>
<div class="container center-content" >

    <!-- Status Filter -->
    <div class="filter-selection remove-decorations">
      <ul>
        <li><a href="#" data-controller="cleaners" data-action="click->cleaners#filterStatus" data-status="">All</a></li>
        <% @statuses.each do |status| %>
          <li>
            <a href="#" data-controller="cleaners" data-action="click->cleaners#filterStatus" data-status="<%= status %>">
              <%= status.capitalize %>  (<%= @cleaners.where(status: status ).count %>)
            </a>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- Cleaners Table in a Turbo Frame for dynamic updating -->
    <turbo-frame id="cleaners_table">
      <table>
        <thead>
        <tr class="remove-decorations">
          <th><a href="#" data-controller="cleaners" data-action="click->cleaners#sort" data-sort-column="first_name">First Name</a></th>
          <th><a href="#" data-controller="cleaners" data-action="click->cleaners#sort" data-sort-column="last_name">Last Name</a></th>
          <th><a href="#" data-controller="cleaners" data-action="click->cleaners#sort" data-sort-column="email">Email</a></th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
          <% @cleaners.each do |cleaner| %>
            <tr>
              <td><%= cleaner.user.first_name %></td>
              <td><%= cleaner.user.last_name %></td>
              <td><%= cleaner.user.email %></td>
              <td><%= cleaner.status.capitalize %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </turbo-frame>
</div>
